* {
  margin: 0;
  padding: 0; }

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

/* NAVBAR */
.full_barnav {
  background-color: #FFCCCC;
  position: sticky; }

.active {
  border-bottom: solid 2px #000; }

.navbar-brand {
  transition: all 1s; }
  .navbar-brand:hover {
    transform: scale(1.5); }

.logo_yoga {
  width: 50px; }

/* .navbar-brand:hover{
    transform: scale(1.5);
} */
.nav-link {
  margin-left: 40px;
  margin-right: 10px;
  transition: all 1s; }
  .nav-link:hover {
    transform: scale(1.5); }

/* BODY */
body {
  background-image: url("../images/background_color.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto; }

/* FOOTER */
.piepagina {
  width: 100%;
  background-color: #FFCCCC; }
  .piepagina__contenedor {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding: 15px 0px; }
    .piepagina__contenedor__elemento {
      margin: auto; }
  .piepagina__social a {
    display: inline-block;
    line-height: 20px;
    margin-right: 10 px; }

.social_logos {
  width: 30px;
  transition: all 1s; }
  .social_logos:hover {
    transform: scale(1.5); }

.container .Yoga-girl-cover img {
  width: 500px;
  height: 500px; }

.nav-link:hover {
  transform: scale(1.5); }

.col-lg-6 img {
  animation: move-up 4s infinite; }

@keyframes move-up {
  0% {
    transform: translateY(15px); }
  50% {
    transform: translateY(0px); }
  100% {
    transform: translateY(15px); } }

h1 {
  font-size: 60px;
  font-weight: 700;
  color: #38424d; }

h2 {
  font-size: 40px;
  font-weight: 600;
  color: #585858;
  margin-top: 20px; }

.textoIndex {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 50px; }

span {
  display: contents;
  color: blueviolet; }

.text-info-cover a {
  padding: 18px 40px;
  border-radius: 30px;
  font-size: 30px;
  background-color: #9A9FFF;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 1s; }

.text-info-cover a:hover {
  transform: scale(2);
  background-color: aquamarine; }

.video_presentacion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px; }

.presentacion h2 {
  font-size: 40px;
  margin-bottom: 15px; }

.presentacion p {
  font-size: 20px;
  margin-bottom: 20px; }

.titulo_clases {
  font-size: 60px;
  font-weight: 700;
  color: #38424d;
  margin-left: 100px; }

.textoIndex_clases {
  margin-left: 100px; }

.container .card img {
  min-height: 200px;
  max-height: 200px;
  box-shadow: 7px 13px 35px #242424; }

.formulario {
  width: 400px;
  background-color: #FFCCCC;
  padding: 30px;
  margin: auto;
  margin-top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 20px;
  box-shadow: 7px 13px 35px #242424; }

.formulario p {
  font-size: 25px;
  text-align: center;
  margin-bottom: 14px;
  color: black; }

.formulario__campos {
  width: 100%;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: solid 2px #9A9FFF; }

.formulario__botones {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 10px;
  margin: auto;
  font-size: 20px;
  background: #9A9FFF;
  border: none;
  color: white; }

.carousel-item {
  width: 500px;
  height: 400px; }

.carousel-inner {
  justify-content: center; }

.tabla_mercancia thead tr {
  background-color: #FFCCCC;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold; }

.visually-hidden {
  color: black;
  font-size: 30px; }

.carousel-caption {
  background-color: #9131ff;
  border-radius: 30px; }
