.titulo_clases{
    font-size: 60px;
    font-weight: 700;
    color: #38424d;
    margin-left: 100px;
}

.textoIndex_clases{
    margin-left: 100px;
}

.container .card img{
    min-height: 200px;
    max-height: 200px;
    box-shadow: 7px 13px 35px rgb(36, 36, 36);
}