*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* NAVBAR */
.full_barnav{
    background-color: map-get($colors, "main-color");
    position: sticky;
}

.active{
    border-bottom: solid 2px #000;
}

.navbar-brand{
    transition: all 1s;

    &:hover{
        transform: scale(1.5);
    }
}

.logo_yoga{
    width: 50px;
}

/* .navbar-brand:hover{
    transform: scale(1.5);
} */

.nav-link{
    margin-left: 40px;
    margin-right: 10px;
    transition: all 1s;

    &:hover{
        transform: scale(1.5);
    }
}


/* BODY */
body{
    background-image: url("../images/background_color.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}


/* FOOTER */
.piepagina{
    width: 100%;
    background-color: map-get($colors, "main-color");

    &__contenedor{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        padding: 15px 0px;

        &__elemento{
            margin: auto;
        }
    }

    &__social{

        a{
        display: inline-block;
        line-height: 20px;
        margin-right: 10 px;
        }
    }

}

.social_logos{
    width: 30px;
    transition: all 1s;

    &:hover{
        transform: scale(1.5);
    }
}