.container .Yoga-girl-cover img{
    width: 500px;
    height: 500px;
}

.nav-link:hover{
    transform: scale(1.5);
}

.col-lg-6 img{
        animation: move-up 4s infinite;
    }
    
    @keyframes move-up{
        0%{
            transform: translateY(15px);
        }
        50%{
            transform: translateY(0px);
        }
        100%{
            transform: translateY(15px);
        }
    }

    h1{
        font-size: 60px;
        font-weight: 700;
        color: #38424d;
    }

    h2 {
        font-size: 40px;
        font-weight: 600;
        color: #585858;
        margin-top: 20px;
    }

    .textoIndex{
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    span {
        display: contents;
        color: blueviolet;
    }

    .text-info-cover a{
        padding: 18px 40px;
        border-radius: 30px;
        font-size: 30px;
        background-color: #9A9FFF;
        color: #FFFFFF;
        text-decoration: none;
        transition: all 1s;
    }
    
    .text-info-cover a:hover{
        transform: scale(2);
        background-color: aquamarine;
    }