.carousel{
    top: 10%;
}

.carousel-item{
    width: 500px;
    height: 400px;
    width: 40%;
    border-radius: 30px;
    left: 30%;
}

.tabla_mercancia thead tr{
    background-color: #FFCCCC;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
}

.visually-hidden{
    color: black;
    font-size: 30px;
}

.carousel-caption {
    background-color: #9131ff;
    border-radius: 30px;
}